@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./shared/css/colors.scss";
@import "./shared/css/fonts.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-primary;
  background-image: url('https://media.giphy.com/media/ZOiP71eivZDfUcAZlF/giphy.gif');
  background-color: #ffdcc8;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}
